<div class="form-container mat-elevation-z5">
<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
        <input matInput placeholder="Adress Email" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']"> Het Email S7i7 3ad </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Mot de passe " formControlName="password" type="password" />
        <mat-error *ngIf="password?.errors?.['required']"> 7ot password</mat-error>
    </mat-form-field>
    <div class="center margin-top">
    <button mat-raised-button color="warn" type="submit"> LogIn </button>
</div>
    <span class="margin-top center "> Jdid M3ana Linna ? <a routerLink="/sign-up"> Sign-Up ! </a></span>
</form>
</div>